*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    overflow-x: hidden;
    background: rgb(28, 28, 28);
    background-image: url(img/Back\ noise.png);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
header{
    width: 100%;
    display: flex; 
    height: 95px;
    border: 1px solid rgb(38, 38, 38);
    background: rgb(28, 28, 28);
    z-index: 10;
}
input:active, input:hover, input:focus{
    outline: none;
}
h2{
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 58px;
    font-weight: 200;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;  
}
h2 span{
    font-weight: 700;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 1.5rem 0;
}

.item {
	text-align: center;
	flex-basis: 100%;
}

.btn {
	font-weight: 600;
	border-radius: 12px;
    box-sizing: border-box;
	color: #fff;
	display: inline-block;
	padding: 2px;
	position: relative;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
	color: #fff;
}

.border-gradient-blue-purple {

	background-image: linear-gradient(180deg, #FFCC70 0%, #C850C0 40%, #4158D0 100%);
}
.btn > span {
    width: 126.86px;
    height: 35.94px;
    font-weight: 100;
	align-items: center;
	background: #1C1C1C;
	border-radius: 9px;
  display: flex;
  justify-content: center;
  transition: background .5s ease;
}

.btn:hover > span {
	background: transparent;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
#sign_up{
    width: 100px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 103px;
    margin-right: 103px;
}
.search_block{
    padding-left: 18px;
    padding-right: 20px;
    width: 718px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 50px;
    border-radius: 82px;
    background: rgb(38, 38, 38);
}
.search input{
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0%;
    background: none;
    border: none;
    
}
.search_block img{
    pointer-events: none;
}
.search input::placeholder{
    /* Block text */
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0%;
}
.top_content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_img img{
    margin-left: -320px;
    width: 855px;
    height: 831.18px;
    z-index: 1;
}
.top_text{
    z-index: 2;
}
.top_text h1{
    width: 881px;
    height: 352px;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.top_text h1 span{
    background: linear-gradient(107.97deg, rgb(255, 204, 112),rgb(200, 80, 192),rgb(65, 88, 208));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
}

.item2 {
	margin-top: 87px;
    margin-left: 38px;
}

.btn2 {
	font-weight: 600;
	border-radius: 12px;
    box-sizing: border-box;
	color: #fff;
	display: inline-block;
	padding: 2px;
	position: relative;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn2 > span {
    width: 280px;
    height: 45px;
    font-weight: 100;
	align-items: center;
	border-radius: 9px;
    display: flex;
    justify-content: center;
}
.light{
    position: absolute;
    width: 90%;
    height: 1938px;
    left: 15px;
    top: -150px;
    z-index: -50;
    transform: rotate(120.00deg);
    filter: blur(177.2px);
    /* gradient btn */
    background: linear-gradient(180.00deg, rgb(255, 204, 112),rgb(200, 80, 192) 50%,rgb(65, 88, 208) 100%);
    opacity: 0.3;

}
.card_top{
    position: relative;
    display: flex;
    gap: 11px;
    top: 52px;
    left: 70px;
}
.card_wrapper img{
    border-top: 3px solid #FFCC70;
    width: 320px;
    height: 478px;
    box-sizing: border-box;
    border-radius: 16px;
}
.card_wrapper img:hover{
    -webkit-box-shadow: 5px 5px 5px -5px rgba(118, 113, 117, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(118, 113, 117, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(118, 113, 117, 0.6);
transition: box-shadow .3s ease;
}
.card_users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    width: 132px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: inset 0px 8px 12px 0px rgba(255, 255, 255, 0.08),0px 24px 24px -16px rgba(0, 0, 0, 0.12),inset 16px 24px 64px -24px rgba(255, 255, 255, 0.08);
    background: linear-gradient(145.32deg, rgba(215, 237, 237, 0.16) -35.007%,rgba(204, 235, 235, 0) 100%);
} 
.card_users img{
    border: none;
    width: 30px;
    height: 30px;
}
.card_like{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: inset 0px 8px 12px 0px rgba(255, 255, 255, 0.08),0px 24px 24px -16px rgba(0, 0, 0, 0.12),inset 16px 24px 64px -24px rgba(255, 255, 255, 0.08);
    background: linear-gradient(145.32deg, rgba(215, 237, 237, 0.16) -61.751%,rgba(204, 235, 235, 0) 100%);
}
.card_like img{
    border: none;
    width: 30px;
    height: 30px;
}
.card_add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: inset 0px 8px 12px 0px rgba(255, 255, 255, 0.08),0px 24px 24px -16px rgba(0, 0, 0, 0.12),inset 16px 24px 64px -24px rgba(255, 255, 255, 0.08);
    background: linear-gradient(145.32deg, rgba(215, 237, 237, 0.16) -61.751%,rgba(204, 235, 235, 0) 100%);
}
.card_add img{
    border: none;
    width: 30px;
    height: 30px;
}
.recomendation_text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
    margin-right: 160px;
}
.recomendation_text h2{
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 88px;
}
.recomendation_text p{
    text-indent:50px;
    color: rgb(168, 168, 168);
    font-family: Helvetica;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.recomendation_span{
    width: 481px;
    height: 45px;
    font-weight: 100;
	align-items: center;
	background: #1C1C1C;
	border-radius: 9px;
  display: flex;
  justify-content: center;
  transition: background .5s ease;
}

.btn:hover > .recomendation_span {
	background: transparent;
}
.recomendation_wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.swiper-container{

    overflow: hidden;
    padding: 30px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.swiper-container h1{
    border-bottom: solid 2px #eec121;
    margin-bottom: 3vh;
}
.image-slider__image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-container .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: #eec121;
}

.swiper_head{
    margin-top: 57px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid rgb(147, 147, 147);
}
.swiper_head h2{
    width: 60%;
}
.swiper_button{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 82px;
    background-image: url(img/Buttons\ Container.png);
    gap: 16px;
}
.swiper-prev{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 62px;
    height: 62px;
    background: rgb(28, 28, 33);
}
.swiper-prev:hover{
    background: rgb(50, 50, 54);
    transition: background .5s ease;
    -webkit-box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    
}
.swiper-next{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 62px;
    height: 62px;
    background: rgb(28, 28, 33);
}
.swiper-next:hover{
    background: rgb(50, 50, 54);
    transition: background .5s ease;
    -webkit-box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 21px 12px rgba(34, 60, 80, 0.2) inset;
    
}

.item-swiper {
    margin-left: 30px;
	text-align: center;
}
.btn_wrapper{
    font-weight: 600;
	border-radius: 12px;
    box-sizing: border-box;
	color: #fff;
	display: inline-block;
	padding: 2px;
	position: relative;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn_wrapper span{
    width: 199px;
    height: 59px;
    font-weight: 100;
    align-items: center;
    background: #1C1C1C;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    transition: background .5s ease;
}

.btn_wrapper:hover > span {
	background: transparent;
}
.swiper-back{
    margin-top: 180px;
    padding-bottom: 100px;
    background: url(img/Rectangle\ 143.png) no-repeat;
    background-size: cover;
    position: relative;
    width: 103vw;
    left: -30px;
}

.full-stars {
	text-align: center;
}
.full-stars .rating-group {
	display: inline-flex;
}
.full-stars input {
	position: absolute;
	left: -9999px;
}
.full-stars label {
	margin: 0;
	cursor: pointer;
}
.full-stars label svg {
	margin: 2px;
	height: 27px;
	width: 27px;
	fill: #CDC500;
	transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
	fill: #F2F2F3;
}
.full-stars .rating-group:hover label svg {
	fill: #CDC500;
}
.full-stars .rating-group input:hover ~ label svg {
	fill: #F2F2F3;
}
.slide_bottom{
    margin-top: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.slide_bottom a {
    border: #f2f2f300 solid 2px;
    padding: 5px;
    color: rgb(242, 242, 243);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.slide_bottom a:hover{
    border: #f2f2f383 solid 2px;
    border-radius: 5px;
    padding: 5px;
    transition: border 0.5s ease;
}
.score p{
    color: rgb(202, 202, 206);
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.swiper-img{
    border-top: 3px solid #FFCC70;
    width: 410px;
    height: 519px;
    box-sizing: border-box;
    border-radius: 16px;
    object-fit: cover;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    height: 42px;
    width: 100vw;
    box-sizing: border-box;
    border: 1px solid rgb(38, 38, 38);
    background: rgb(28, 28, 28);
}
.footer_navbar{
    margin-left: 38px;
    display: flex;
    gap: 50px;
}
.footer_elem{
    display: flex;
    gap: 4px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}
.footer_elem:hover{
    color: #E89991;
}

